/* مخفی کردن اسکرول افقی صفحات */
body {
  overflow-x: hidden;
}


  
/* menu */
  .navbar {
    display: inline-block;
    direction: rtl;
    text-align: right;
    background-color: #f8b195;
  }

  .navbar-nav .nav-item {
    padding: 5px ;
    font-family: "W_aban";
    font-size: 20px;
  }

  .navbar-nav .nav-link {
    color: #406f99;
  }

  .navbar-nav .nav-link:hover {
    color: rgb(37, 160, 190);
  }

  @keyframes blink {
    50% {
      color: rgb(35, 181, 218);
    }
  }

  .navbar-brand{
    font-family: "B Morvarid";
    font-size: 27px;
    color: #355C7D ;
    font-weight: bold;
    animation: blink 3s infinite;
  }


  /* search box */
  .search-container {
    position: relative;
  }
  
  .search-container input[type="search"] {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    width: 45px;
    height: 45px;
    outline: none;
    border: none;
    background: #fff;
    color: #252525;
    text-shadow: 0 0 10px #355C7D;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #355C7D, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  
  .search-container input[type="search"]:hover {
    cursor: pointer;
  }
  
  .search-container input[type="search"]:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  
  .search-container input[type="search"]::placeholder {
    color: #252525;
    opacity: 0.5;
    font-weight: bolder;
  }
  
  .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #355C7D;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  
  .search-btn:hover {
    cursor: pointer;
  }
  
  .search-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
  }


/* footer */
footer {
  font-family: "b nazanin";
  background-color: #f8b195;
  padding: 50px 0;
  text-align: right;
  
}

footer h5 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  font-size: 17px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

.list-unstyled :hover{
  color: #b688f1;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #333333;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.list-unstyled a{
  font-size: 18px;
}

.follow-us {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  position: relative;
}

.follow-us-line{
  margin-left: 30px;
  opacity: 1;
  color: white;
  border-width: 5px;
  border-radius: 20px;
}