/* مخفی کردن اسکرول افقی صفحات */
body {
  overflow-x: hidden;
}


  
/* menu */
  .navbar {
    display: inline-block;
    direction: rtl;
    text-align: right;
    background-color: #f8b195;
  }

  .navbar-nav .nav-item {
    padding: 5px ;
    font-family: "W_aban";
    font-size: 20px;
  }

  .navbar-nav .nav-link {
    color: #406f99;
  }

  .navbar-nav .nav-link:hover {
    color: rgb(37, 160, 190);
  }

  @keyframes blink {
    50% {
      color: rgb(35, 181, 218);
    }
  }

  .navbar-brand{
    font-family: "B Morvarid";
    font-size: 27px;
    color: #355C7D ;
    font-weight: bold;
    animation: blink 3s infinite;
  }


  /* search box */
  .search-container {
    position: relative;
  }
  
  .search-container input[type="search"] {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    width: 45px;
    height: 45px;
    outline: none;
    border: none;
    background: #fff;
    color: #252525;
    text-shadow: 0 0 10px #355C7D;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #355C7D, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  
  .search-container input[type="search"]:hover {
    cursor: pointer;
  }
  
  .search-container input[type="search"]:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  
  .search-container input[type="search"]::placeholder {
    color: #252525;
    opacity: 0.5;
    font-weight: bolder;
  }
  
  .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #355C7D;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  
  .search-btn:hover {
    cursor: pointer;
  }
  
  .search-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
  }

.index-page .navbar form.d-flex,
.index-page .navbar .search-container {
  display: none !important;
}


  

  /*back to top page button*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  border-radius: 50%;
  color: #fff;
  background-color: #007bff;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

.back-to-top:hover {
  opacity: 1;
}

.fa-chevron-up {
  font-size: 20px;
  margin: 0 auto;
}

/*********************************** صفحه اصلی ****************************************/
/* first section(landing) */
.landing {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../images/background.jpg);
  background-size: cover;
  background-position: center center;
    }
  
   .caption{
  font-family: 'W_titr bold';
  width: 100%;
  position: absolute;
  top: 40%;
  color: #ffffff;
  
   }
  
  
   /* login button */
   .login-button {
    position: absolute;
    top: 100px;
    right: 10px;
    font-family: "A Hemmat", sans-serif;
    font-size: 22px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  
  .login-button:hover {
    background-color: #fff;
    color: #0d1581;
  }
  
  .login-button i {
    margin-left: 5px;
    font-size: 1.5rem;
    transform: scaleX(-1);
  }
  
  .login-button:active {
    animation: button-click 0.1s linear;
  }
  
  @keyframes button-click {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  /* second section(About iran) */
.AboutIran {
  display: grid;
  grid-template: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 15px;
  font-size: 18px;
  background-color: white;
  background-image: none;
  text-align: justify;
  text-align-last: right;
  font-family: B Nazanin;
}

.paragraph{
  margin-right: 50px;
  margin-left: 50px;
}

h2.AboutIran{
  font-size: 33px;
  margin-right: 50px;
  text-align: rtl;
}

img.AboutIran{
  display: block;
  margin: 0 auto;
}

 
/* footer */
footer {
  font-family: "b nazanin";
  background-color: #f8b195;
  padding: 50px 0;
  text-align: right;
  
}

footer h5 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  font-size: 17px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

.list-unstyled :hover{
  color: #b688f1;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #333333;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.list-unstyled a{
  font-size: 18px;
}

.follow-us {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  position: relative;
}

.follow-us-line{
  margin-left: 30px;
  opacity: 1;
  color: white;
  border-width: 5px;
  border-radius: 20px;
}


/* Third section(services) */
.services-section {
  background-image: linear-gradient(to bottom , #6c5b7b, #406f99);
  color: #fff;
}

.jumbotron{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h4.title{
font-size: 1.5rem;
font-weight: 800;
}

.underline{
  width: 17rem;
  height: 0.3rem;
  background-color: #ff956b;
  margin: 1rem auto 2rem;
  opacity: 1;
}

.services i{
  color: #ff956b;
}

h5.title{
  margin-top: 15px;
  font-size: 22px;
  font-weight: 500;
  font-family: "W_titr";
  }

p.text{
  font-size: 14px;
}

/* fourth section (About Iran History) */
.history {
  display: grid;
  grid-template: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 15px;
  font-size: 18px;
  background-color: white;
  background-image: none;
  text-align: justify;
  text-align-last: right;
  font-family: "b nazanin";
}

.paragraph{
  margin-right: 50px;
  margin-left: 50px;
}

h2.history{
  font-size: 33px;
  margin-right: 50px;
  text-align: rtl;
}


/*Slider*/
.tour-icons div {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 10px;
  padding: 3px;
}

.tour-name {
  margin-left: 18px;
  margin-top: 25px;
}

/* بخش اسلایدر */
.slideshow-container {
  position: relative;
  background-image: linear-gradient(to bottom , #f67280,#f8b195,rgb(226, 222, 222));
}

/* اسلایدها */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* دکمه اسلاید قبل و بعد */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #406f99;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* فاصله بین آیکون های اسلاید سوم */
.mySlides:nth-child(3) .tour-icons div {
  margin-right: 24px;
}

/* انیمیشن تغییر رنگ متن تیتر هر اسلاید */
@keyframes color-animation {
  0% {color: var(--color-1)}
  32% {color: var(--color-1)}
  33% {color: var(--color-2)}
  65% {color: var(--color-2)}
  66% {color: var(--color-3)}
  99% {color: var(--color-3)}
  100% {color: var(--color-1)}
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 { --color-1: #ee5300; --color-2: #3D8DAE; --color-3: #eb4e4b; }
.title-word-2 { --color-1: #a07008; --color-2: #238075; --color-3: #065055; }
.title-word-3 { --color-1: #45837c; --color-2: #9e5453; --color-3: #5c7a77; }
.title-word-4 { --color-1: #2883aa; --color-2: #a5552a; --color-3: #af4d4c; }
.title-word-5 { --color-1: #6d034d; --color-2: #047294; --color-3: #a02422; }

/* فونت تیتر اسلایدها */
.mySlides h4 {
  font-family: "B Mehr";
  font-weight: 900;
  font-size: 26px;
}

/* فونت نام ایکون ها در اسلایدها */
.tour-name {
  font-weight: 1000;
  color: #b6375b;
}


/* the fifth section (short info about your tourism site) */
.section5 {
  background-color: rgb(255, 255, 255);
  text-align: center;      /* عنوان وسط چین بمونه */
  margin-left: 10px;
  margin-right: 10px;
  font-family: "b nazanin";
  direction: rtl;          /* متن راست‌چین می‌شود */
}

.section5 h2 {
  text-align: center;      /* عنوان وسط چین */
}

.section5 h6 {
  font-size: 18px;
  text-align: right;       /* متن اصلی راست‌چین */
  max-width: 700px;        /* طول مناسب برای خوانایی */
  margin: auto;            /* وسط صفحه قرار گیرد */
  line-height: 1.6;        /* فاصله خطوط بهتر */
}



/************************************ FAQ page ************************************/
.faq {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 140%;
  
  opacity: 0.3;
  opacity: 1;
  display: grid;
}
.card {
  background: #fff;
  color: #333;
  margin: 15rem auto;
  width: 90%;
  max-width: 50rem;
  min-height: 30rem;
  border-radius: 2rem;
}

.hero {
  display: flex;
  justify-content: center;
  transform: translateY(-55%);
}

.faq-title {
  text-align: center;
  font-family: 'W_titr';
  font-size: 50px;
  padding: 1rem;
}

.acc-container {
  padding: 4rem 2rem;
}
.acc-btn {
  font-family: "b nazanin";
  width: 100%;
  padding: 1.2rem ;
  font-size: 25px;
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
  text-align: justify;
  text-align-last: right;
  transition: all 0.5s linear;
}
.acc-btn:after {
  content: "\27A4";
  color: #f67280;
  float: left;
  transition: all 0.3s linear;
}
.acc-btn.is-open:after {
  transform: rotate(90deg);
}
.acc-btn:hover, .acc-btn.is-open {
  color: #000;
  font-weight: bold;
}

.acc-content {
  max-height: 0;
  color: rgba(0,0,0,0.75);
  font-size: 1.5rem;
  margin: 0 2rem;
  padding-left: 1rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-bottom: 1px solid #ccc;
}

.answer{
  text-align: justify;
  text-align-last: right;
  font-family: "b nazanin";
}

.chat-with-admin-box{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(5, 148, 177) 100%);
  font-family: "b nazanin";
  color: white;
  text-align: center;
  margin-bottom: 130px;
  margin-top: 20px;
  border-radius: 55px;
}
.chat-with-admin-box button {
  margin: 10px;
}
.contact-us{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 8px 16px;
  align-items: center;
}
.contact-us:hover {
  background-color: #fff;
  color: #0d1581;
}


/********************************* contact page************************************/
  
.contactbackground {
  background-color: grey;
  background-size: cover;
  height: 100vh;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 50%;
  margin: auto;
  height: 80%;
}

.firstHalf {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstHalf img {
  display: flex;
  border-radius: 9050px;
}

.text-big {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  font-size: 41px;
  text-align: center;
}

.text-small {
  font-family: "Sansita Swashed", cursive;
  font-size: 22px;
  text-align: center;
}

.contact-img{
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}

.contact-section {
align-items: center;
justify-content: center;
color: #000000;
}

.contact-section h4{
font-size: 1.8rem;
font-weight: 800;
}

.contact-section hr{
width: 17rem;
height: 0.3rem;
background-color: #0a0955;
margin: 1rem auto 2rem;
opacity: 1;
}

.contact-section i{
width: 150px;
height: 140px;
line-height: 130px;
text-align: center;
border-radius: 30%;
font-size: 80px;
background-color: #7fbbd6;
color: #0c1e57;
}

.contact-section h5{
margin-top: 28px;
font-size: 28px;
font-weight: 500;
font-family: "W_titr";
}

.contact-section p{
  
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  overflow-wrap: break-word;
  margin-top: 30px;
  font-size: 20px;
}



/********************************* article page ************************************/
.article-page{
  background-color: #ebebeb;
}

.article{
  font-family: 'b nazanin';
  color: #355C7D;
  margin-top: 110px;
  direction: rtl;
  margin-right: 35px;
}

.article hr{
  opacity: 10;
  border: 5px solid #355C7D;
  border-radius: 5px;
  width: 100px;
}

.thumbnail{
  color: #1d2f3f;
  cursor: pointer;
  font-family: 'W_titr';
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0px;
  border-radius: 0px;
}

.thumbnail:hover{
  color: #355C7D;
}

.thumbnail:hover img{
  opacity: .5;
}




/********************************* about us ************************************/

.section-one-aboutus {
  font-family: 'W_titr';
  color: #ffffff;
  height: 100vh;
  background: linear-gradient(25deg,#16054A,#C8A6B4);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
  overflow: hidden;
}

.cont  {
  width:100%;
  height:100%;
  position:absolute;
}

.content {
  left:15%;
  top:20%;
  width:70%;
  position:relative;
}
.section-one-aboutus h1 {
  text-align: center;
  color:white;
  font-size: 4vw;
  font-weight:500;
}
.section-one-aboutus p{
  text-align: center;
  position:relative;
  width:100%;
  font-size:30px;
  color:rgba(255,255,255,1);
  margin-bottom:40px;
}

.aboutus-image-section{
 margin-right: 50px;
 margin-left: 70px;
}

.section-tow-aboutus{
  font-family: "b nazanin";
  font-size: 20px;
  text-align: justify;
  text-align-last: right;
  margin: 40px;
}

.section-tow-aboutus h3{
font-size: 30px;
font-weight: 10;
}

.section-three-aboutus{
  font-family: "b nazanin";
  background-color: #f1f3f5;
}

.section-three-aboutus p{
  margin: 10px;
}

.about-us-image {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
}

.group {
  text-align: center;
  margin-right: 20px;
}

.group img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 160px;
}

.section-four-aboutus{
  font-family: "b nazanin";
}

.section-four-aboutus{
font-size: 20px;
}

.section-four-aboutus h3{
text-align: center;
}




/******************************** login form page *****************************/
.login-form-page{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  background:linear-gradient(#b4b2b2,#ffffff);
}

.main-login-box{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  height: 600px;
  background:linear-gradient(#f8b195,#ffffff,#ffffff,#ffffff);
  border-radius: 20px;
  display:flex;
  direction: rtl;
}

.main-login-form{
  position: relative;
  width: 900px;
  height: 600px;
  overflow: hidden;
  background: linear-gradient(to bottom, #221d4d, #6c5b7b, #355C7D);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk{
  display: none;
}
.signin-form{
  position: relative;
  width:100%;
  height: 100%;
}
label{
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.login-form-page input{
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  direction: rtl;
  text-align: right;
}
.login-form-btn{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
.login-form-btn:hover{
  background: #6d44b8;
}
.log-in-form{
  height: 510px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}
.log-in-form label{
  color: #573b8a;
  transform: scale(.6);
}

#chk:checked ~ .log-in-form{
  transform: translateY(-600px);
}
#chk:checked ~ .log-in-form label{
  transform: scale(1);  
}
#chk:checked ~ .signin-form label{
  transform: scale(.6);
}

.logo-container {
  display: flex;
  margin-top: 70px;
  margin-right: 42px;
}

.logo {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.logo-container a {
  font-size: 35px;
  margin-top: 18px;
}

.login-form-gif {
  margin-top: 80px;
  margin-right: 72px;
  margin-left: 80px;
  height: 230px;
  width: 230px;
}

.home-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #573b8a;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.home-btn:hover {
  background-color: #6d44b8;
}

.home-label{
  font-family: "A Hemmat", sans-serif;
  position: absolute;
  font-size: 15px;
  margin-right: 11px;
  margin-top: 48px;
}